// Place all the styles related to the members/Diaries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.diary_list_table{
   margin: auto;
   margin-top: 5px;
 }

 .diary_box{
  background-color: #42657966;
  margin-right: auto;
  margin-left : auto;
  margin: auto;
  width: 100%;
  height: 550px;
  border-radius: 30px;
}

.diary_index,{
  text-align: center;
  color: #426579;
}

.diary_new{
  text-align: center;
  margin-left: -20px;
  font-weight: 800;
  font-size: 15pt;
  text-decoration: none;
  color: #426579;
  text-decoration:none
}

.diary_new:hover {
  text-align: center;
  font-weight: 800;
  font-size: 15pt;
  background-color: transparent;
  text-decoration: none;
  color: #f8b862;
}

.diary_show{
  margin-left: 20px;
  margin-right: 40px;
  font-weight: 800;
  font-size: 15pt;
  text-decoration: none;
  color: #ffffff;
  text-decoration:none
}

.diary_show:hover {
  font-weight: 800;
  font-size: 15pt;
  background-color: transparent;
  text-decoration: none;
  color: #426579;
}

 .diary_new_field {
  font-size: 20px;
  position: relative;
  height: 560px;
  width: 100%;
  margin: auto;
  padding: 60px 60px;

}

.diary_field{
  color: #fff;
  background-color: transparent;
  position: relative;
  height: 30px;
  width: 300px;
  margin: auto;
  background-size: cover;
  border: none;
  border-bottom: solid 1px #fff
}

.diary_comment_fild{
  color: #426579;
  background-color: transparent;
  position: relative;
  height: 30px;
  width: 80%;
  margin: auto;
  background-size: cover;
  border: none;
  border-bottom: solid 1px #426579;
  display: inline-block;
  vertical-align: bottom;
}

.diary_comment_index{
  height: 40%;
  overflow:auto;
}

.dia_goods{
  margin: 10px;
  font-weight: 800;
  font-size: 10pt;
  text-decoration: none;
  color: #ffffff;
  text-decoration:none
}


.add_fields{
  text-align: center;
  font-weight: 800;
  font-size: 15pt;
  text-decoration: none;
  color: #426579;
  text-decoration:none
}

.add_fields:hover {
  text-align: center;
  font-weight: 800;
  font-size: 15pt;
  background-color: transparent;
  text-decoration: none;
  color: #f8b862;
}