// Place all the styles related to the members/members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*　ハンバーガーボタン　*/
.hamburger {
  display : block;
  position: fixed;
  z-index : 3;
  right : 13px;
  top   : 12px;
  width : 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
  -webkit-transition: 0.5s all;
  -moz-transition   : 0.5s all;
  transition        : 0.5s all;
}
.hamburger span {
  display : block;
  position: absolute;
  width   : 30px;
  height  : 2px ;
  left    : 6px;
  background : #555;
}
.hamburger span:nth-child(1) {
  top: 10px;
}
.hamburger span:nth-child(2) {
  top: 20px;
}
.hamburger span:nth-child(3) {
  top: 30px;
}

/* ナビ開いてる時のボタン */
.hamburger.active{
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.hamburger.active span:nth-child(1) {
  top : 16px;
  left: 6px;
  background : #fff;
  -webkit-transform: rotate(-45deg);
  -moz-transform   : rotate(-45deg);
  transform        : rotate(-45deg);
}
.hamburger.active span:nth-child(2) {
  top: 16px;
  background : #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform   : rotate(45deg);
  transform        : rotate(45deg);
}
.hamburger.active span:nth-child(3) {
  opacity: 0;
}

nav.globalMenuSp {
  display: none;
  position: fixed;
  z-index : 2;
  top  : 0;
  left : 0;
  color: #fff;
  background: rgba(0,0,0,0.7);
  text-align: center;
  width: 30%;
  opacity: 0;
  transition: opacity .6s ease, visibility .6s ease;
}


nav.globalMenuSp ul {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

nav.globalMenuSp ul li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  transition: .4s all;
}
nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
}
nav.globalMenuSp ul li:hover{
  background :#ddd;
}

nav.globalMenuSp ul li a {
  display: none;
  color: #fff;
  padding: 1em 0;
  text-decoration :none;
}

/* このクラスを、jQueryで付与・削除する */
nav.globalMenuSp.active {
  opacity: 100;

}
/* 背景を動画に */
// .bg_wrap {
//     position: relative;
//     height: 100%;
//     width: 100%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }
.bg_wrap p,
.bg_wrap ul{
    margin:0;
    padding:0;
    list-style: none;
}
.bg_wrap video,
　　{
    width: 100%;
    display: inline-block;
    vertical-align: top;
    position: fixed;
    right: 0;
    bottom: 0;
  　min-width: 100%;
  　min-height: 100%;
  　width: auto; height: auto; z-index: -100;
  　background-size: cover;

}
.bg_wrap .bg_space {
    color: #fff;
    font-size: 20px;
    position: absolute;
    z-index: 1;
    margin:0;
    padding-top:0px;
    display: inline-block;
    vertical-align: top;
}
.bg_wrap .bg_space ul{
    text-align: right;
    font-size:16px;
    padding: 0 20px 0 0;
}



//Graph/
/* ↓外枠↓ */
.container {
  margin: 10px;
  border: 1px solid #ccc;
}
/* ↓タブを横並び↓ */
.tab-list {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
/* ↓タブのデザイン↓ */
.tab {
  width: 100%;
  height: 100%;
  padding: 10px;
  cursor: pointer;
  border-left: solid 1px #CCC;
  border-bottom: solid 1px #CCC;
}
.tab:first-child {
  border-left: none;
}
/* ↓タブがアクティブになっている時のデザイン↓ */
.tab-active {
  color: #FFF;
  background: #19b5d1;
  transition: all 0.2s ease-in-out;
}
/* ↓タブの中身↓ */
.tabbox {
  /* ↓タブの中身を最初は非表示↓ */
  display: none;
  /* ↓タブの中身の余白↓ */
  padding: 15px;
}
/* ↓このクラスがついている時だけタブの中身を表示↓ */
.box-show {
  display: block;
}

//Follow
.follow_link{
  font-weight: 800;
  font-size: 20pt;
  text-decoration: none;
  color: #ffffff;
  text-decoration:none
}

.follow_link:hover {
  font-weight: 800;
  font-size: 20pt;
  background-color: transparent;
  text-decoration: none;
  color: #fca4a4 ;
}


.new_post_diaries_box {
   width: 100%;
   padding: 15px;
   margin: 2em auto;
   background: #274a78e6;
   color: #000;
   box-shadow: 4px 4px 4px rgba(0,0,0,0.03);transform:rotate(-1deg);
   word-break: break-all;
}
.new_post_diaries_tape {
    width: 50%;
    height: 35px;
    margin: -25px auto 0;
    background: #f7f092ED;
    color: #274a78;
    font-weight:1000;
    transform: rotate(4deg);

}
.new_post_diaries_box_title {
    text-align: center;
    font-size: 1.3em!important;
    margin-top: 10px!important;
}

.new_post_diaries {
    width: 100%;
    height: 100%;
    margin: 5px;
}

.differences_box {
   width: 90%;
   padding: 15px;
   margin: 2em auto;
   background: #c0c6c9e6;
   color: #fff;
   box-shadow: 4px 4px 4px rgba(0,0,0,0.03);transform:rotate(2deg);
   word-break: break-all;
}
.differences_tape {
    width: 50%;
    height: 35px;
    margin: -25px auto 0;
    background: #e597b2ED;
    color: #274a78;
    font-weight:1000;
    transform: rotate(3deg);

}
.differences_title {
    text-align: center;
    font-size: 1.3em!important;
    margin-top: 10px!important;
}

.differences {
    width: 100%;
    height: 350px;
    margin: 5px;
}


.new_workouts_box {
   width: 100%;
   padding: 15px;
   margin: 2em auto;
   background: #b33e5ce6;
   color: #000;
   box-shadow: 4px 4px 4px rgba(0,0,0,0.03);transform:rotate(1deg);
   word-break: break-all;
}
.new_workouts_tape {
    width: 50%;
    height: 35px;
    margin: -25px auto 0;
    background: #001e43ED;
    color: #fff;
    font-weight:1000;
    transform: rotate(-2deg);
}
.new_workouts_box_title {
    text-align: center;
    font-size: 1.3em!important;
    margin-top: 10px!important;
}

.new_workouts {
    width: 100%;
    height: 100%;
    margin: 5px;
}

.recoad_link{
  font-weight: 800;
  font-size: 18pt;
  text-decoration: none;
  color: #ffffff;
  text-decoration:none;

}

.recoad_link:hover {
  font-weight: 800;
  font-size: 18pt;
  background-color: transparent;
  text-decoration: none;
  color: #fca4a4 ;
}

.recoad_link_tape {
    width: 50%;
    height: 35px;
    margin: -15px auto 0;
    background: #418b89ED;
    color: #fff;
    font-weight:1000;
    transform: rotate(1deg);
    text-align:center;
}



.follow_list{
  height: 400px;
  width: 25%;
  margin: 10px;
  
}

.follow_list_link{
  font-weight: 800;
  font-size: 15pt;
  margin: 5px 10px;
  text-decoration: none;
  color: #ffffff;
  text-decoration:none
}

.follow_list_link:hover {
  font-weight: 800;
  font-size: 18pt;
  background-color: transparent;
  text-decoration: none;
  color: #83ccd2;
}