// Place all the styles related to the members/Records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// /* ↓ここから下は、ブラウザがデフォルトで持っているCSSを打ち消すCSS↓ */
// html,body,h1,h2,h3,h4,ul,ol,dl,li,dt,dd,p,div,span,img,a,table,tr,th,td {
//   margin: 0;
//   padding: 0;
//   border: 0;
//   font-weight: normal;
//   font-size: 100%;
//   vertical-align:baseline;
//   list-style: none;
// }
/* ↑ブラウザがデフォルトで持っているCSSを打ち消すCSSここまで↑ */

/* ↓外枠↓ */
.container {
  width: 100%;
  height: 400px;
  margin: 20px, -5px,0,0;
  border: 1px solid #ccc;
  background: #ffffffbf;
}
/* ↓タブを横並び↓ */
.tab-list {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
/* ↓タブのデザイン↓ */
.tab {
  width: 100%;
  cursor: pointer;
  border-left: solid 1px #CCC;
  border-bottom: solid 1px #CCC;
  text-align: center;
  transform: rotate(-4deg);
  background: #f8b862D9;
}
.tab:first-child {
  border-left: none;
}
/* ↓タブがアクティブになっている時のデザイン↓ */
.tab-active {
  color: #FFF;
  background: #19b5d1;
  transition: all 0.2s ease-in-out;
  text-align: center;
}
/* ↓タブの中身↓ */
.tabbox {
  /* ↓タブの中身を最初は非表示↓ */
  display: none;
  padding: 5px;
}
/* ↓このクラスがついている時だけタブの中身を表示↓ */
.box-show {
  display: block;
}

 .rec_box{
  background-color: #00533f66;
  margin-right: auto;
  margin-left : auto;
  margin: auto;
  width: 100%;
  height: 550px;
  border-radius: 30px;
}

.rec_show{
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  text-decoration:none
}

.rec_show:hover {
  background-color: transparent;
  text-decoration: none;
  font-size: 30px;
  color: #fca4a4 ;
}

.rec_fild{
  color: #fff;
  background-color: transparent;
  position: relative;
  height: 30px;
  width: 300px;
  margin: auto;
  background-size: cover;
  border: none;
  border-bottom: solid 1px #fff
}

.rec_item{
  display: flex;
  justify-content: space-between;
}

.rec_right{
  background-color: #ffffffE6;
  margin-right: auto;
  margin-left : auto;
  margin-top: 102px;
  width: 100%;
  height: 550px;
  border-radius: 30px;
  padding: 10px;

}

.delete_fields{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  text-decoration:none
}

.delete_fields:hover {
  background-color: transparent;
  text-decoration: none;
  font-size: 20px;
  color: #e8383d ;
}