   <% if @record.gooded_by?(current_member) %>
    <p>
      <%= link_to record_rec_goods_path(@record), method: :delete, remote: true do %>
        <i class="fas fa-thumbs-up"></i> <%= @record.rec_goods.count %>
      <% end %>いいね
    </p>
  <% else %>
    <p>
      <%= link_to record_rec_goods_path(@record), method: :post, remote: true do %>
        <i class="far fa-thumbs-up"></i><%= @record.rec_goods.count %>
      <% end %>いいね
    </p>
  <% end %>