<!--Coffee使用中止-->
<!--<canvas id="chart" width="200" height="100"></canvas>-->
<!--<script>draw_graph();</script>-->

<div class="rounded" style="width:500px; height:300px; background-color:#ffffffbf">
<canvas id="myChart2"></canvas>
</div>

<script>
    var ctx = document.getElementById("myChart2").getContext('2d');
    var myChart2 = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [<% @record_dates.each do |date|%>
            "<%= date %>",
            <% end %>],
            datasets: [{
                label: "筋肉量",
                data: <%= @record_mus %>,
                backgroundColor: 'rgba(255, 80, 120, 1.0)',
                borderColor: 'rgba(255, 80, 120, 1.0)',
                fill: false
            },{
                label: "骨格筋率",
                data: <%= @record_sm %>, //縦軸データ埋込
                backgroundColor: 'rgba(255, 80, 120, 0.2)',
                borderColor: 'rgba(255, 206, 86, 0.2)',
                type: 'line'
            }]
        },
    });
</script>


