
    
<% @records.each do |record| %>
<div>
    <td><%= record.date %></td>
    <td><%= link_to 'Show', member_record_path(member_id: record.member_id, id: record.id)%></td>
</div>
<% end %>


<div style="width:800px; height:500px; background-color:#ffffffbf">
<%= render 'mychart' %>
