
<h1>ChartSample</h1>

<canvas id="chart" width="200" height="100"></canvas>
<script>draw_graph();</script>



<% @records.each do |record| %>
<div>
    <td><%= record.date %></td>
    <td><%= link_to 'Show', record %></td>
</div>
<% end %>