
<h1>ChartSample#index</h1>

<canvas id="myChart" width="10" height="10"></canvas>
<script>draw_graph();</script>


<% @records.each do |record| %>
<div>
    <td><%= record.created_at %></td>
    <td><%= link_to 'Show', record %></td>
</div>
<% end %>