<div class="circle_show">
  <div class="show_group">
    <span class="back_to_circle_index">
      <%= link_to circles_path do %>
      <<<
      <% end %>
    </span>
    <span class="circle_show_name">
      <%= @circle.name %>
    </span>
  </div>
  
  <div class="circle_show_information"
  
</div>