<div class="bg_wrap">
  <div class="bg_space container-fluid">
<div class="about_box">
<div class="circle-1">
  <p>Healthonのコンセプトは</br>
  "Health<i class="fas fa-hand-holding-heart"></i>
  " + "Marathon<i class="fas fa-running"></i>
  <i class="fas fa-running"></i><i class="fas fa-running">"</i></p>
</div>

<div class="circle-2">
  <p>コツコツ続けるもよし！</br>仲間やライバルを探すのもよし！ </br>とにかく理想の自分を目指すのです！</p>
</div>

<div class="circle-3">
  <p>無理はしないこと。</br>一番大切なお約束です;)</p>
</div>

</div>


  </div>
  <div class="bg_video">
    <%= video_tag("#{request.base_url}/video/toppage.mp4", autoplay: :true,  loop: :true,  muted: :true) %>
  </div>
</div>