<div class="top_wrap">
    <div class="top_space container-fluid" style="height:100%">
       <!--div class="row justify-content-end top_content" style="height:100%"-->
        <div class="row top_content" style="height:100%">
          
          <div class="col-10">
            <div class="row">
              <!--<div class="col-10 align-self-center d-flex align-items-center w-60 h-60 " style="background-color:#f1b0ad">-->
                <div class="row">
                <h3>Welcome to Healthon!!</h3><br>
                </div>
                <div class="row">
                <i class="fas fa-running"></i>
                <i class="fas fa-running"></i>
                <i class="fas fa-running"></i><p> </p>
                <i class="fas fa-plus"></i><p> </p>
                <i class="fas fa-hand-holding-heart"></i><br>
                </div>
                <div class="row">
                <h5>Healthonのコンセプトは「Health」+ 「Marathon」!!</h5><br>
                </div>
                <div class="row">
                <p>ダイエット・筋トレなど自身の健康に真剣に向き合いながら、ライバルと競い合う中で</p><br>
                </div>
                <div class="row">
<p>・より自分の理想に近づいてより自分を好きになって欲しい</p><br>
</div>
                <div class="row">
<p>・他のMemberから刺激を受けて、モチベーションを上げて継続してほしい</p><<br>
</div>
                <div class="row">
<p>そのような思いを込めて作成したコミュニティサイトです。</p><br>
</div>
                <div class="row">

<p>こっそりライバル意識を持つ相手を見つけるもよし</p><br>
</div>
                <div class="row">
<p>目標にしたいMemberと交流するもよし！</p><br>
</div>
                <div class="row">
<p>きっとトイックで負けず嫌いなあなたにぴったりでしょう:)！</p><br>
</div>
                <div class="row">
<p>是非楽しんで、より理想の自分に近づいてくださいね</p><br>
</div>
                <div class="row">
<p>＊決して無理はしないこと、継続のために一番大切なお約束です
                  </div>
                
                  
                
              </div>　　
            <!--</div>  -->
          </div>
           
           
          <div class="col-2 ml-auto" style="background-color:#8681a0a6">
          <ul>
            <div class="row_about"><%= link_to "Sign in", new_member_session_path, class: "top_link" %></div>
            <div class="row_about"><%= link_to "Join us", new_member_registration_path, class: "top_link" %></div>
            <div class="row_about"><%= link_to "Top", root_path, class: "top_link" %></div>
           </ul>
         </div>
       </div>
    </div>
   <%= video_tag("#{request.base_url}/video/toppage.mp4", poster: "backdround1.jpg", autoplay: :true,  loop: :true,  muted: :true, class: 'top-content') %>
</div>