<div class="bg_wrap">
  <div class="bg_space container-fluid" style="overflow:auto;">
       <div class="row justify-content-start top_content">
         <div class="col-3 top_box">
           <ul>
            <div class="row_top"><%= link_to "Sign in", new_member_session_path, class: "top_link" %></div>
            <div class="row_top"><%= link_to "Join us", new_member_registration_path, class: "top_link" %></div>
            <div class="row_top"><%= link_to "About", homes_about_path, class: "top_link" %></div>
           </ul>
         </div>
       </div>
   </div>
  <div class="bg_video">
    <%= video_tag("#{request.base_url}/video/toppage.mp4", autoplay: :true,  loop: :true,  muted: :true) %>
  </div>
</div>

