<div class="top_wrap">
    <div class="top_space container-fluid" style="height:100%">
       <div class="row justify-content-end top_content" style="height:100%">
         <div class="col-2" style="background-color:#8681a0a6">
           <ul>
            <div class="row_top"><%= link_to "Sign in", new_member_session_path, class: "top_link" %></div>
            <div class="row_top"><%= link_to "Join us", new_member_registration_path, class: "top_link" %></div>
            <div class="row_top"><%= link_to "About", homes_about_path, class: "top_link" %></div>
           </ul>
         </div>
       </div>
    </div>
    <div class="video">
     <%= video_tag("#{request.base_url}/video/toppage.mp4", poster: "backdround1.jpg", autoplay: :true,  loop: :true,  muted: :true, class: 'top-content') %>
    </div>
</div>
